apiVersion: v1
kind: Secret
metadata:
  name: cloudwatch-sts-credentials
  annotations:
    qontract.recycle: "true"
type: Opaque
stringData:
  credentials: |
    [sa-sts]
    role_arn = {{ vault('app-sre/integrations-output/terraform-resources/' ~ resource.namespace.cluster.name ~ '/' ~ resource.namespace.name ~ '/logforwarder-iam-sts', 'role_arn') }}
    web_identity_token_file = /var/run/secrets/eks.amazonaws.com/serviceaccount/token
    role_session_name = logcollector

    [default]
    source_profile = sa-sts
    role_arn = {{ vault('app-sre/integrations-output/terraform-resources/' ~ resource.namespace.cluster.name ~ '/' ~ resource.namespace.name ~ '/cloudwatch-access-sts', 'role_arn') }}
    role_session_name = logcollector
