apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/openshift-pipelines-operator-rh.openshift-operators: ""
  name: openshift-pipelines-operator-rh
spec:
  {% set channels = {
    '4.12': 'pipelines-1.9',
    '4.13': 'pipelines-1.11',
    '4.14': 'pipelines-1.11',
  } %}
  {% set cluster_spec = resource.namespace.cluster.spec %}
  {% set cluster_major_version = 'VERSION_NOT_SET' if cluster_spec is none else '.'.join(cluster_spec.version.split('.')[:2]) %}
  channel: {{ channels[cluster_major_version] | default('pipelines-1.9') }}
  installPlanApproval: Automatic
  name: openshift-pipelines-operator-rh
  source: redhat-operators
  sourceNamespace: openshift-marketplace
