apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  labels:
    operators.coreos.com/openshift-cert-manager-operator.cert-manager-operator: ""
  name: openshift-cert-manager-operator
spec:
  {% set channels = {
    '4.12': 'stable-v1',
    '4.13': 'stable-v1',
  } %}
  {% set cluster_spec = resource.namespace.cluster.spec %}
  {% set cluster_major_version = 'VERSION_NOT_SET' if cluster_spec is none else '.'.join(cluster_spec.version.split('.')[:2]) %}
  channel: {{ channels[cluster_major_version] | default('stable-v1') }}
  installPlanApproval: Automatic
  name: openshift-cert-manager-operator
  source: redhat-operators
  sourceNamespace: openshift-marketplace
